.formContact{
    margin-top:25px;
    width: 60%;
    /* border: 12px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}
.formContact input{
    width:80%;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.formContact button{
    margin-top:15px;
    margin-bottom:20px;
    width:150px;
    border-radius: 10px;
    background-color:rgb(12, 12, 82);
    color: white;
}

@media only screen and (max-width: 600px) {
    .formContact{
        width:90%;
    }
}